<div class="body">
    <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
        <div class="common-class header" fxFlex="100%">
            Header
        </div>
    </div>

    <div class="container wrap" fxLayout fxLayoutAlign="left" fxLayoutGap="10px">
        <div class="common-class sidebar" fxFlex="50%">
            Sidebar
        </div>

        <div class="inner-container" fxLayout="column" fxLayoutGap="10px">
            <div class="common-class featured" fxFlex>
                Featured
            </div>

            <div class="a_b_char" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                <div class="a_char common-class" fxFlex>
                    A
                </div>
                <div class="b_char common-class" fxFlex>
                    B
                </div>
            </div>
        </div>
    </div>
</div>